$light-gray: #f2f5f5;

.schedule {
    overflow: auto;

    &__element {
        background-color: $light-gray;
        margin-bottom: 5px;
        padding: 5px;
    }

    &__day {
        overflow: auto;
        width: calc(50% - 5px);
        float: left;

        &:nth-child(odd){
            margin-right: 5px;
        }
    }

    &__month {
        overflow: auto;
    }

    &__month-6 {
        overflow: auto;
        width: calc(50%);
    }
}

.lesson {
    display: block;
    float: left;
}