<div class="schedule">
    <div *ngIf="scheduleType === 1">
        <div *ngFor="let d of days">
            <div>
                <div>DAY {{ d.name }}</div>
                <div *ngFor="let l of d.lessons">
                    {{ l.id }}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="scheduleType === 2">
        <div *ngFor="let d of weeks">
            <div>
                <div>WEEK {{ d.name }}</div>
                <div *ngFor="let l of d.lessons">
                    {{ l.id }}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="scheduleType === 3">
        <div *ngFor="let d of weeks">
            <div>
                <div>WEEK {{ d.name }}</div>
                <div *ngFor="let l of d.lessons">
                    {{ l.id }}
                </div>
            </div>
        </div>
    </div>
</div>