<div class="schedule">
    <div *ngIf="scheduleType === 1">
        <div *ngFor="let d of days">
            <div class="schedule__element schedule__day">
                <div class="schedule__day--title">DAY {{ d.name }}</div>
                <div class="schedule__day--lessons">
                    <div *ngFor="let l of d.lessons">
                        <app-lesson class="schedule__day--lessons--lesson lesson" [id]="l.id"></app-lesson>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="scheduleType === 2">
        <div *ngFor="let d of weeks">
            <div class="schedule__element schedule__month">
                <div>WEEK {{ d.name }}</div>
                <div *ngFor="let l of d.lessons">
                    <app-lesson class="lesson" [id]="l.id"></app-lesson>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="scheduleType === 3">
        <div *ngFor="let d of weeks">
            <div class="schedule__element schedule__month-6">
                <div>WEEK {{ d.name }}</div>
                <div *ngFor="let l of d.lessons">
                    <app-lesson class="lesson" [id]="l.id"></app-lesson>
                </div>
            </div>
        </div>
    </div>
</div>